<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="navBar">
        <a class="navLink" href="/"><div class="navTab"><img class="navImg" src="images/card-checklist.png" alt="checklist">Today</div></a>
        <a class="navLink" href="/work"><div class="navTab"><img class="navImg" src="images/laptop.png" alt="laptop">Work</div></a>
    </div>