body {
    background-color: #e4e9fd;
}

.navLink {
    text-decoration: none;
}

.checked:checked+label {
    text-decoration: line-through;
}

.navBar {
    display: flex;
}

.navTab {
    padding: 20px;
}
.navImg {
    position: relative; 
    top: 2px;
    margin-right: 5px;
}

h1 {
    border-radius: 5px;
    padding: 10px 0px; 
    width: 400px;
    text-align: center;
    background-color: #a683e3;
    color: white;
}

.main {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

input[type=checkbox] {
    margin-left: 15px;
    margin-right: 20px
}

input[type=text], textarea {
    width: 325px;
    height: 35px;
    margin-left: 15px;    
    border: none; 
    outline: none;
    border-bottom: 2px solid #a683e3; 
}

input[type=submit] {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    border: none;
    background-color: #a683e3;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.listItem {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

#list {
    width: 400px;
    border-radius: 5px;
    background-color: white;
}